
test.py
1_lesson/lesson.py
.vscode/launch.json
.vscode/settings.json
tes_2.py
test.py
2_lesson/1.txt
2_lesson/2.txt
2_lesson/3.txt
3_lesson/1.txt
3_lesson/homework.txt
answer.txt
folder_inmincraft.py